@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Poppins:wght@400;600;700&display=swap'); 
@import "tailwindcss";
body {
  overflow-x: hidden;
}
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


/* Animação para o efeito de flutuação */
@keyframes float {
  0%, 100% {
    transform: translateY(0px); /* Posição inicial e final */
  }
  50% {
    transform: translateY(-15px); /* Posição mais alta. Ajuste o valor para mais ou menos flutuação. */
  }
}

/* Classe CSS para aplicar a animação */
.animate-float-custom {
  animation: float 3s ease-in-out infinite; /* 3 segundos de duração, suave, repetição infinita */
}